body, html {
    margin:0;   
    height:100%;
    width:100%;
}

.km-tablet .km-ios .km-navbar .km-view-title{
    color:#000;
    text-shadow: 0 -1px rgba(255,255,255,0.3);
}

#filter-popover .km-navbar .km-view-title{
    color:White;
    text-shadow: 0 -1px rgba(255,255,255,0.3);
}

/*.km-ios .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 100%,50% 0,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.8))),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAGklEQVR4Xm3DMREAAACCQKPYvySeO8MHML0BOrEVLMJmdzAAAAAASUVORK5CYII=);
    background-image: -moz-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2),rgba(255,255,255,.8)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAGklEQVR4Xm3DMREAAACCQKPYvySeO8MHML0BOrEVLMJmdzAAAAAASUVORK5CYII=);
    background-image: -ms-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2),rgba(255,255,255,.8)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAGklEQVR4Xm3DMREAAACCQKPYvySeO8MHML0BOrEVLMJmdzAAAAAASUVORK5CYII=);
    background-repeat: repeat,repeat;
    background-position: 0 0,0% 0%;
    background-color: rgb(196, 204, 213);
}
.km-android .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 100%,50% 0,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.8)));
    background-image: -moz-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2),rgba(255,255,255,.8));
    background-image: -ms-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2),rgba(255,255,255,.8));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(0, 0, 0);
}
.km-wp .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 100%,50% 0,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.8)));
    background-image: -moz-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2),rgba(255,255,255,.8));
    background-image: -ms-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2),rgba(255,255,255,.8));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(0, 0, 0);
}*/

.km-view .km-content {
    background-image: url('../styles/images/body-back.png') !important;
    padding: 5px;
}

.km-list > li{
    background: transparent !important;
}


.km-drawer-button:before, .km-drawer-button:after { content: "\E077"; }
.km-contacts:before, .km-contacts:after { content: "\E0E4"; }
.km-graph:before, .km-graph:after { content: "\E04B"; }
.km-close-button:before, .km-close-button:after { content: "X"; }

.main-header{
    height:100px;
    background:url('../styles/images/header-back.png');
    background-position:bottom;
}

.vendor-header{
    height:100px;
    background:url('../styles/images/header-back.png');
    background-position:bottom;
}

label {
    margin-bottom: 0px !important;
}

.panel-heading {
    text-align: center;
}